# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Txt File
*.txt

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

decomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/shell
stamp-h1
tests-driver
tests/.deps/
tests/Makefile
tests/Makefile.in