# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Txt File
*.txt

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.vscode/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h1
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/shell
stamp-h1
test-driver
tests/.deps/
tests/Makefile
tests/Makefile.in